{% extends "tontine/base.html" %}
{% block content %}
    <div class="container bg-light">
        <div class="alert alert-success">{{ message }}</div>
        
        <h2>Creer une reunion</h2>
        <br>
        <form method="post" action="{% url 'create_reunion' elt_tontine.id_tontine %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <script>
                let id = "{{ elt_tontine.id_tontine }}"
                document.getElementById('tontine').value = id
            </script>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Save">
            </div> 
        </form>
    </div>
    
{% endblock content %}