{% extends "tontine/base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <br><br>
        <h4>Voici vos differents prets dans cette tontine</h4>
        <br><br>
        <div class="card-deck">
            <div id="display">
                {% for pret in prets %}
                    <div class="card" style="width: 18rem;" id="display2">
                        <!-- <img class="card-img-top" src="#" alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ pret.nom_pret }}</h5>
                            <p class="card-text">{{ pret.montant }}</p>
                            <a href="{% url 'afficher_pret' pret.id_pret %}" class="btn btn-primary">Afficher</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="card" style="width: 18rem;" id="display2">
                    <!-- <img class="card-img-top" src="#" alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Demander un pret</h5>
                        <p class="card-text"></p>
                        <a href="{% url 'create_pret' elt_tontine.id_tontine %}" class="btn btn-primary">Creer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
 


{% endblock content %}